version: "3.9"
services:
  etl:
    image: weather-etl:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: "no"
